
.outer {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    /*whatever width you want*/
    background-color: #ffffff;
    border: solid 1px #808080;
    text-align: center;
}
