<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorAppDataSource1</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <hr />
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid1">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid2">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid3">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid 3
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <hr />
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid4">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid 4
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid5">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid 5
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="grid6">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Grid 6
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
